.layout-parent{
  display: flex;
  height: 100%;
  width: 100%;
  padding: 15px;
  gap: 10px;
} 

.body{
  width: 100%;
}

.layout-header{
  box-shadow: 0 0 2px gray;
  padding: 20px;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layout-siderbar{
  box-shadow: 0 0 2px gray;
  padding: 0 20px;
  background-color: darkblue;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.menu{
  margin-top: 150px;
}

.menu-item i {
  margin-right: 10px;
  font-size: 30px;
}

.menu-item span {
  font-size: 20px;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 5px 15px;
  cursor: pointer;
  width: 100%;
  transition: 0.2s;
  gap: 15px;
}

.active-menu-item{
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px;
}

.content{
  padding: 10px;
}

.logo{
  color:coral;
  font-size: 25px;
  font-style: italic;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 5px;
}

.role {
  color: white;
  font-size: 20px;
}

h1{
  margin-bottom: 0px !important ;
  padding-bottom: 0px !important;
}